.blueBg {
  background: #6bafaa;
}
.greyBg {
  background: #282c34;
}
.redBg {
  background: red;
}
.greenBg {
  background: green;
}
.purpleBg {
  background: purple;
}
.orangeBg {
  background: orange;
}
.myName {
  height: 50vh;
  padding-top:  40vh;
  text-align: center;
  font-size: 50px;
  color: white;
  letter-spacing: 20px;
  animation: nSlide 2s;
  -moz-animation: nSlide 2s; /* Firefox */
  -webkit-animation: nSlide 2s; /* Safari and Chrome */
  -o-animation: nSlide 2s; /* Opera */
}
.alignRight {
  text-align: right;
}
.hLinkYt {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  animation: ytSlide 2s;
  -moz-animation: ytSlide 2s; /* Firefox */
  -webkit-animation: ytSlide 2s; /* Safari and Chrome */
  -o-animation: ytSlide 2s; /* Opera */
}
.hLinkYt:hover {
  transition: 0.5s;
  color: white;
  background-color: #ff0000;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}
.hLinkIg {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  animation: igSlide 2s;
  -moz-animation: igSlide 2s; /* Firefox */
  -webkit-animation: igSlide 2s; /* Safari and Chrome */
  -o-animation: igSlide 2s; /* Opera */
}
.hLinkIg:hover {
  transition: 0.5s;
  color: white;
  background-image: linear-gradient(to bottom left, #4c68d7,#8a3ab9,#bc2a8d,#cd486b, #e95950,#fbad50,#fccc63);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}
@keyframes nSlide {
  from {padding-top: 0vh; opacity: 0;}
  to {padding-top: 40vh; opacity: 1;}
}
@-moz-keyframes nSlide {
  from {padding-top: 0vh; opacity: 0;}
  to {padding-top: 40vh; opacity: 1;}
}
@-webkit-keyframes nSlide {
  from {padding-top: 0vh; opacity: 0;}
  to {padding-top: 40vh; opacity: 1;}
}
@-o-keyframes nSlide {
  from {padding-top: 0vh; opacity: 0;}
  to {padding-top: 40vh; opacity: 1;}
}
@keyframes ytSlide {
  from {padding-right: 50vw; opacity: 0;}
  to {padding-right: 0vw; opacity: 1;}
}
@-moz-keyframes ytSlide {
  from {padding-right: 50vw; opacity: 0;}
  to {padding-right: 0vw; opacity: 1;}
}
@-webkit-keyframes ytSlide {
  from {padding-right: 50vw; opacity: 0;}
  to {padding-right: 0vw; opacity: 1;}
}
@-o-keyframes ytSlide {
  from {padding-right: 50vw; opacity: 0;}
  to {padding-right: 0vw; opacity: 1;}
}

@keyframes igSlide {
  from {padding-left: 50vw ; opacity: 0;}
  to {padding-left: 0vw; opacity: 1;}
}
@-moz-keyframes igSlide {
  from {padding-left: 50vw ; opacity: 0;}
  to {padding-left: 0vw; opacity: 1;}
}
@-webkit-keyframes igSlide {
  from {padding-left: 50vw ; opacity: 0;}
  to {padding-left: 0vw; opacity: 1;}
}
@-o-keyframes igSlide {
  from {padding-left: 50vw ; opacity: 0;}
  to {padding-left: 0vw; opacity: 1;}
}
